<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://unpkg.com/vue@next"></script>
    <link rel="stylesheet" type="text/css" href="./style.css">


    <title>CreateACourse</title>
  </head>
  <body>
<div id="app">
<!-- Just an image -->
<nav class="navbar navbar-light bg-light sticky-top " >
  <a class="navbar-brand" href="#">
    <img src="./logo.jpeg" height="40" alt="">
  </a>

    <a class="navbar-brand my-2 my-lg-0" href="#">
  {{instructors[user_now].displayName}}        
  <img v-bind:src="instructors[user_now].avatar" width="40" height="40" class="d-inline-block align-top" alt="">

    </a>
  </nav><div style=" border-radius: 100px;">
    <div class="row" style=" border-radius: 100px;">

        <!-- side bar --> 
        <div class="nav flex-column nav-pills col-2 position-fixed"  id="v-pills-tab" role="tablist" aria-orientation="vertical" style="background-color: #DAE3F3; height: 90vh; padding-left: 2%;">
            <a class="nav-link active" id="v-pills-home-tab"  href="./homepage.html" aria-selected="true" >My Courses</a>
            <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#" role="tab" aria-controls="v-pills-profile" aria-selected="false">Profile</a>
        </div>

             <!-- main    -->
                 <div class="col-2" style="z-index: -5;"></div>
 
          <div class="tab-content col-lg-10 " id="v-pills-tabContent" style="padding-right: 0%; padding-left: 0%; margin: 0%;">

                    <!--  Create a Course  --> 

            <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab" >
                                    <!-- My courses top bar --> 

                <nav class="navbar navbar-light" style="padding-left: 5%;padding-right: 5%;">
                    <div class="container">
                    <h6 class="navbar-brand" href="#">
                        My Courses
                    </h6>
                  
                    
                    </div>
                </nav>

                <div class="container" style="background-color: #EDF1F9; ">
                    <nav class="navbar navbar-light ">
                        <div class="container">
                        <h6 class="navbar-brand" href="#" >
                                Create a course
                        </h6>
                      
                        
                        </div>
                    </nav>
                    <div style="padding-left: 10%; padding-right: 10%;">


                        <form >
                            <div class="form-group">
                              <label for="exampleFormControlInput1" class="col-12">1. Course Name</label>
                              <input type="Name"  class="form-control" id="course_name" placeholder="Enter Course Name" v-show="course_now==-1">
                              <input type="Name"  class="form-control" id="course_name_update" placeholder="Enter Course Name" v-bind:value="this.courses[this.course_now].name" v-if="!(course_now==-1)">
                            </div>
                            <input  type="hidden" v-bind:value="this.courses[this.courses.length-1].id +1">
                            <div class="form-group">
                              <label  class="col-2">2. published</label>
                              <input type="checkbox" class="col-1" id="course_state" v-show="course_now==-1" >
                              <div v-if="!(course_now==-1) && this.courses[this.course_now].state" >
                              <input type="checkbox" class="col-1" id="course_state_update_1" checked>
                            </div>
                            <div v-if="!(course_now==-1) && this.courses[this.course_now].state == false" >
                              <input type="checkbox" class="col-1" id="course_state_update_1" >
                            </div>
                            <!--  <input type="checkbox" class="form-control" id="course_name_update" placeholder="Enter Course Name" v-bind:value="this.courses[this.course_now].name" v-if="!(course_now==-1)">
                           -->
                            </div>

                            <div class="form-group">
                              <label for="exampleFormControlInput1" class="col-12">3. Course Price</label>
                              <input type="number" class="form-control" id="course_Price" placeholder="Enter Price" v-show="course_now==-1">
                              <input type="number" class="form-control" id="course_Price_update" placeholder="EnterPrice" v-bind:value="this.courses[this.course_now].Price" v-if="!(course_now==-1)">
                            </div>

                            <div class="input-group mb-3">
                                <label for="exampleFormControlInput1" class="col-12">2. Course Image</label>
                                <input type="file" id="image_import" v-show="course_now==-1" accept="image/*">
                                <input type="file" id="image_import_update" v-if="!(course_now==-1)" accept="image/*">
                                <img class="card-img-top col-4" id="image_import_update_pic" v-bind:src="this.courses[this.course_now].pic" alt="Card image cap" v-if="!(course_now==-1)">


                                <label for="exampleFormControlInput1" class="col-12">3. Introductory Video</label>
                                <input type="file" id="vedio_import"  v-show="course_now==-1" accept="video/*">
                                <input type="file" id="vedio_import_update" v-if="!(course_now==-1)" accept="video/*">
                                <video type="video/mp4" controls class=" col-4" id="video_import_update_video" v-bind:src="this.courses[this.course_now].vedio" alt="Card image cap" v-if="!(course_now==-1)">

                        
                               
                              </div>


                            <div class="form-group">
                              <label for="exampleFormControlTextarea1" class="col-12">4. Course Objectives
                            </label>
                              <textarea class="form-control" id="course_objectives" rows="3" v-show="course_now==-1"></textarea>
                              <textarea class="form-control" id="course_objectives_update" rows="3" v-bind:value="this.courses[this.course_now].objectives" v-if="!(course_now==-1)"></textarea>

                            </div>
                           
                            <div class="form-group">
                              <label for="exampleFormControlTextarea1" class="col-12">5. keywords
                            </label>
                              <textarea class="form-control" id="keywords" rows="3" v-show="course_now==-1"></textarea>
                              <textarea class="form-control" id="keywords_update" rows="3" v-bind:value="this.courses[this.course_now].keywords" v-if="!(course_now==-1)"></textarea>

                            </div>

                          </form>
                          <button class="btn btn-primary" v-on:click="to_create_a_course" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample" id="Submit" v-show="course_now==-1">Submit</button>
                          <button  class="btn btn-primary" v-on:click="update_course"  id="update_course_submit" href="" v-show="course_now>-1">Update</button>
                         <button style="margin-left: 20px;"  class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample" v-show="course_now>-1">show lectures</button>



                          <!--  this should show after submiting the form-->
                          <div  class="collapse" id="collapseExample" >

                          <div class="row">
                          <label class="col-12" for="exampleFormControlInput1"> Course Lectures</label>
                          <div  v-if="course_now>-1" class="card col-4" v-for="item in courses[course_now].lectures" :key="item.Lecture_indix">
  
                              <div class="card-body" style=" margin: auto;   padding: auto;">
                                <p class="card-text">Lectur {{item.Lecture_indix}}: {{item.Lecture_Name}}</p>
                               <div style=" text-align: center;"> <button type="button" class="btn btn-primary" v-on:click="update_lecture(item.Lecture_indix)" >Edit Lecture</button> </div>
                              </div>
                              
                          </div>
                          <a href="#"  class="card col-4" class="open-button" v-on:click="openForm(-1)">
  
                               <div class="card-body" style=" margin: auto;   padding: auto;">
                                 <p class="card-text">+</p>

                               </div>
                              </a>
                            </div>
                            </div>



                      
                    
                    </div>
                   </div>


            </div>


            <div class="form-popup" id="myForm">
            <form v-if="course_now>-1" class="form-container">
              <div class="form-group">
                <label for="exampleFormControlInput1" class="col-12">1. Lecture Name</label>
                <input type="Name" class="form-control" id="lecture_name" placeholder="Enter Lecture Name" v-if="lecture_now ==null">
                <input type="Name" class="form-control" id="lecture_name_update" placeholder="Enter Lecture Name" v-else v-bind:value="lecture_now.Lecture_Name">

              </div>
             
              <div class="input-group mb-3">
              
                <label for="exampleFormControlInput1" class="col-12">2. Lecture indix</label>
                <input type="Name" class="form-control" id="lecture_index" v-bind:value="courses[course_now].lectures.length+1" v-if="lecture_now ==null">
                <input type="Name" class="form-control" id="lecture_index_update" v-else v-bind:value="lecture_now.Lecture_indix" >


                  <label for="exampleFormControlInput1" class="col-12">3. Lecture Video</label>
                  <input type="file" id="vedio_import_lecture"  v-if="lecture_now ==null" accept="video/*">
                  <input type="file" id="vedio_import_lecture_update" v-else accept="video/*">

                  <video class="col-10" type="video/mp4" controls id="lecture_vedio" v-bind:src="lecture_now.Lecture_Video" alt="Card image cap" v-if="!(lecture_now ==null)">

                 
                </div>


              <div class="form-group">
                <label for="exampleFormControlTextarea1" class="col-12">4. Lecture Material
              </label>
            
                <textarea class="form-control" id="Lecture_Material" rows="3" v-if="lecture_now ==null"></textarea>
                <textarea class="form-control" id="Lecture_Material_update" rows="3" v-else  v-bind:value="lecture_now.Lecture_Material"></textarea>

              </div>
  

            </form>
            <button type="submit" class="btn btn-primary" v-on:click="to_add_a_lecture"  id="add_a_lecture_submit" v-if="lecture_now ==null">Submit</button>
              <button type="submit" class="btn btn-primary" v-on:click="update_lecture_btn"  id="add_a_lecture_submit" v-else>Update</button>

              <button type="submit" class="btn btn-primary" v-on:click="close_lecture"  id="add_a_lecture_submit">close</button>
            </div>

           <!-- Profile --> 

            <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                Profile
            </div>

            <footer style="height: 50px;"></footer>
          </div>



    </div>
  </div>
</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="./main.js"></script>
    <script>
        const mountedApp = app.mount('#app');
    </script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>